<div class="viewer-skeleton" data-testid="viewer-skeleton" aria-hidden="true">
    <div class="viewer-skeleton__hero"></div>
    <div class="viewer-skeleton__rail">
        @for (var index = 0; index < 4; index++)
        {
            <span class="viewer-skeleton__thumb"></span>
        }
    </div>
</div>
