@page "/posts/user/{UserId}"

@using MiniPainterHub.Common.DTOs
@inject IPostService PostService
@inject NavigationManager Nav
@using MiniPainterHub.WebApp.Shared
@using MiniPainterHub.WebApp.Services.Http

<h1 class="mb-4">@UserName</h1>
<CardList LoadPostsHandler="LoadPosts"></CardList>


@code {

    [Parameter]
    public string UserId { get; set; } = string.Empty;

    [Parameter]
    public string? UserName { get; set; } = string.Empty;

    private Task<ApiResult<PagedResult<PostSummaryDto>>> LoadPosts(int page, int pageSize)
        => PostService.GetByAuthorAsync(UserId, page, pageSize);
}
