@page "/me"
@using MiniPainterHub.Common.DTOs
@inject NavigationManager Nav

<div class="container py-4">
  <h1 class="h3 mb-3">Your Panel</h1>

  <ul class="nav nav-pills mb-3" id="meTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="t-profile" data-bs-toggle="pill" data-bs-target="#p-profile" type="button" role="tab" aria-controls="p-profile" aria-selected="true">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="t-posts" data-bs-toggle="pill" data-bs-target="#p-posts" type="button" role="tab" aria-controls="p-posts" aria-selected="false">My Posts</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="t-messages" data-bs-toggle="pill" data-bs-target="#p-messages" type="button" role="tab" aria-controls="p-messages" aria-selected="false">Messages</button>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="p-profile" role="tabpanel" aria-labelledby="t-profile">
      <ProfileEditor />
    </div>
    <div class="tab-pane fade" id="p-posts" role="tabpanel" aria-labelledby="t-posts">
      <MyPostsTable />
    </div>
    <div class="tab-pane fade" id="p-messages" role="tabpanel" aria-labelledby="t-messages">
      <MessagesPane />
    </div>
  </div>
</div>