@* Reusable content for the side panel and /me page *@
<div class="d-flex">
  <!-- Vertical nav pills -->
  <div class="nav flex-column nav-pills me-3" id="me-vtabs" role="tablist" aria-orientation="vertical">
     <NavLink class="nav-link" href="profile">
         My Profile
    </NavLink>
    <NavLink class="nav-link" href="/posts/mine">
        My Posts
    </NavLink>

  </div>

</div>