<AuthorizeView>
    <Authorized>
        <aside class="offcanvas offcanvas-start offcanvas-lg dashboard-sidebar-offcanvas d-lg-none"
               tabindex="-1"
               id="userPanelOffcanvas"
               aria-labelledby="userPanelLabel">
            <div class="offcanvas-header border-bottom">
                <div>
                    <div class="dashboard-sidebar-offcanvas__eyebrow">Studio hub</div>
                    <h2 class="h5 mb-0" id="userPanelLabel">My panel</h2>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-0">
                <UserPanelContent ShowPanelTitle="false" />
            </div>
        </aside>
    </Authorized>
</AuthorizeView>
